:root { 
  --primary-blue: #244db5;
  --lighter-primary: #476ac1;
  --text-color: #000;
  --background-color: #fff;
  --secondary-color: #d8f35f;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/fonnts.com-Aeonik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/fonnts.com-Aeonik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* DEFAULT / MOBILE STYLES (below 768px) */
body {
  font-family: "Aeonik", sans-serif;
}

.main-container { 
  width: 80%;
  margin: 0 auto;
}

a { 
  color: white; 
  text-decoration: none;
} 

p { 
  margin: 0;
}

ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HIDE NAVBAR COMPLETELY ON MOBILE */
.nav-bar {
  display: none;
}

.nav-bar .main-container nav ul li a:hover span { 
  font-weight: bold;
}

/*MOBILE HEADER*/
.mobile-header { 
  background-color: var(--lighter-primary);
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1em 0; 
  margin-bottom: 1em;
}

.mobile-header img { 
  width: 8%;
}

/*MOBILE NAVBAR*/
.mobile-nav-bar { 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em; 
  z-index: 999; 
}

.mobile-nav-bar .main-container { 
  background-color: var(--lighter-primary); 
  padding: 1em; 
  border-radius: 50px; 
  width: 90%;
}

.mobile-nav-bar nav ul { 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 100%;
}

.mobile-nav-bar nav ul li a { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.mobile-nav-bar nav ul li a:hover span { 
  font-weight: bold;
}

.mobile-nav-bar nav ul li a img { 
  width: 20px;
  max-height: 20px;
}

/* LOGIN PAGE – applies both mobile and desktop */
.login-right h2 { 
  font-weight: 700;
  color: var(--primary-blue);
}

.login-right label { 
  color: var(--primary-blue);
}

.login-right input { 
  width: 100%;
  background-color: #fff;
  border: solid 2px #d9d9d9;
  border-radius: 15px;
  padding: 10px;
}

.login-right .submit-btn {
  background-color: var(--primary-blue);
  font-weight: 700;
  color: var(--background-color);
}

.login-right .img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  padding: 1em 0;
}

.login-right img {
  width: 8%;
}

.login-right .login-noacc {
  margin-top: 3em;
}

.login-right .login-noacc span a { 
  color: var(--primary-blue);
}

/* CREATE ACCOUNT shared styles */
.create-name-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-name-group .first-name {
  margin-right: 1em;
}

.create-noacc {
  margin-top: 3em;
}

.create-noacc span a { 
  color: var(--primary-blue);
}

.main-content-container { 
  width: 90%;
  margin: 0 auto;
}

.page-info { 
  display: flex ;
  align-items: center;
}

.page-info span { 
  color: var(--primary-blue); 
  margin-left: 0.5em;
}

.page-info img { 
  width: 20px;
}

/*DASHBOARD CARDS*/
.dashboard-cards { 
  margin-bottom: 2em;
  margin-top: 2em;
}

.dash-card-right { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-column-gap: 1em;
}

.dash-card { 
  border: solid 2px var(--lighter-primary);
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1em;
}

.dash-card h4 { 
  color: var(--lighter-primary);
}

.recent-bot-card { 
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.recent-incident .recent-labels { 
  color: var(--lighter-primary);
  font-size: smaller; 
  margin-top: 1em;
}

.total-incidents h1 { 
  font-size: 7em;
}

.total-labels { 
  font-size: smaller;
  color: #a3a3a3;
  margin-top: 1em;
}

.red-text { 
  color: #bd5151;
} 

.green-text { 
  color: #51bd75;
}

.right-right-col { 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.right-right-col h4 { 
  font-size: 1.25em;
}

.right-right-col h2 { 
  font-size: 3em;
}

.average-time p { 
  color: #a3a3a3; 
}

/*MOBILE TABLE STYLES*/
.incident-table thead {
  display: none;
}

.incident-table, 
.incident-table tbody, 
.incident-table tr, 
.incident-table td, 
.incident-table th {
  display: block;
}

.incident-table tr {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  border: solid 2px var(--primary-blue);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.incident-table td,
.incident-table th {
  border-bottom: none;
}

.incident-table th[scope="row"] { 
  display: none;
}

.incident-table tr td:nth-child(2) {
  grid-area: 1 / 1 / 2 / 5;
}

.incident-table tr td:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}

.incident-table tr td:nth-child(4) {
  grid-area: 2 / 3 / 3 / 4;
}

.incident-table tr td:nth-child(5) {
  grid-area: 2 / 4 / 3 / 5;
}

.incident-table tr td:nth-child(6) {
  grid-area: 3 / 1 / 4 / 3;
}

.incident-table tr td:nth-child(7) {
  grid-area: 3 / 3 / 4 / 5;
}

.incident-table tr td:nth-child(8) {
  grid-area: 4 / 1 / 5 / 5;
}


.incident-table td{
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column; 
} 

.incident-table td[data-label="Incident Type"]{ 
  font-size: 1.5em; 
  color: var(--primary-blue);
}

.incident-table td::before {
  content: attr(data-label);
  font-weight: 400;
  color: #747474;
  text-align: left; 
  font-size: smaller;
}

.incident-table td[data-label="Incident Type"]::before { 
  display: none;
  content: none;
}

/* Remove bottom border on last row item */
.incident-table td:last-child {
  border-bottom: none;
}

/* ============================= */
/* DESKTOP & TABLET (min-width: 768px) */
/* ============================= */
@media only screen and (min-width: 768px) {

  /*hide mobile nav*/ 
  .mobile-nav-bar { 
    display: none;
  }

  .mobile-header { 
    display: none;
  }

  /* Show navbar again */
  .nav-bar {
    display: block;
    padding: 1em 0;
    width: 260px;
    transition: width 0.3s ease;
    overflow: hidden;
  }

  .nav-bar.collapsed {
    width: 100px;
    margin-left: 1em;
  }

  .nav-bar.collapsed:hover {
    width: 220px;
  }

  .nav-bar .main-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: var(--lighter-primary);
    border-radius: 20px;
    padding: 1em;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #aeaeae;
    padding-bottom: 2em;
  }

  .nav-bar nav {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .nav-bar nav ul li {
    margin-bottom: 3em;
  }

  .nav-bar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .nav-bar nav .bot-nav {
    padding-top: 1em;
  }

  .nav-logo {
    width: 30px;
    transition: width 0.3s ease;
  }

  .nav-bar nav ul li a img {
    width: 20px;
  }

  .nav-bar.collapsed nav ul li a span {
    display: none;
  }

  .nav-bar.collapsed:hover nav ul li a span {
    display: inline;
    margin-left: 1em;
  }

    /* Layout wrapper */
  .layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }

  /* Main content always visible */
  .main-content {
    flex: 1;
    padding: 1em;
    transition: margin-left 0.3s;
  }

  .main-content-container { 
    width: 100%;
    margin: 0 auto;
  }

  /* Desktop login layout */
  .login-container {
    display: flex;
    align-items: center;
  }

  .login-row {
    display: flex;
  }

  .login-left {
    height: 95vh;
    background-color: var(--lighter-primary);
    border-radius: 20px;
    width: 50vw;
    margin-right: 6em;
  }

  .login-right {
    width: 25vw;
  }

  .login-right .img-container {
    margin-bottom: 15em;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-right img {
    width: 8%;
  }

  .dashboard-cards { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 1em;
    width: 80%;
  }

  /*DESKTOP TABLE STYLES*/
  .incident-table {
    display: table;
    width: 100%;
  }

  .incident-table thead {
    display: table-header-group;
  }

  .incident-table tbody {
    display: table-row-group;
  }

  .incident-table tr {
    display: table-row;
    margin: 0;
    padding: 0;
    border: none;
  }

  .incident-table .header-row { 
    background-color: #c4cfeb;
  }


  .incident-table th,
  .incident-table td, .incident-table th[scope="row"] {
    display: table-cell;
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
  }

  .incident-table td::before,
  .incident-table th::before {
    display: none !important;
    content: none !important;
  }

  .incident-table td:last-child {
    border-bottom: 1px solid #dee2e6;
  }

  .incident-table td[data-label="Incident Type"]{ 
    font-size: 1em; 
    color: var(--text-color);
  }
}
